# Welcome to Jupyter!

## 1. Operadores Aritméticos

In [1]:
# suma 
5+7

12

In [2]:
# resta
10-2

8

In [3]:
# multiplicación
3*5

15

In [4]:
# potencia
5**2

25

In [5]:
# división
7/2

3.5

In [6]:
# división entera
5//3

1

In [7]:
# modulus (resto división)
24%2

0

## 2. Variables

In [8]:
# Para que las variables sean válidas, tenemos que asignarles un valor
mi_variable

NameError: name 'mi_variable' is not defined

In [2]:
mi_variable = 21

In [3]:
# Para consultar su valor, simplemente tenemos que nombrarlas
mi_variable

21

In [4]:
# También podemos utilizar la función print()
print(mi_variable)

21

In [5]:
# Si le asignamos otro valor a la misma variable, la variable se actualiza
mi_variable = 24

In [7]:
# Podemos aplicar operaciones en variables
print(mi_variable + 2)

26

In [12]:
# Pero si no guardamos el resultado, el valor de la variable no se actualiza
mi_variable

24

In [13]:
# Python es case-sensitive, lo que significa que palabras en minúsculas y mayúsculas no son equivalentes.
MI_VARIABLE

NameError: name 'MI_VARIABLE' is not defined

### Ejercicio 1. Calcular índice masa corporal
El índice de masa corporal (IMC) se calcula dividiendo los kilogramos de peso por el cuadrado de la estatura en metros (IMC = peso (kg) / estatura (m2).

In [14]:
# Variables
altura = 1.70
peso = 65.0

# Fórmula IMC
IMC = peso / altura ** 2

In [15]:
65.0 / 1.70**2

22.49134948096886

In [16]:
IMC

22.49134948096886

## 3. Operadores booleanos

In [17]:
print (3> 2)

True

In [18]:
print (3>2 and 4 <= 7)

True

In [19]:
print (3 == 20 or 2< 7)

True

In [20]:
print(not True)

False

## 4. Tipos de datos

In [21]:
division = 7 /3
division

2.3333333333333335

In [22]:
type(division)

float

In [23]:
int(division)

2

In [24]:
type(int(division))

int

In [25]:
boleano = True
type(boleano)

bool

In [26]:
pregunta = 'Hola. ¿Cómo te llamas? '
respuesta = 'Me llamo Javier'

In [27]:
type(pregunta)

str

In [28]:
pregunta + respuesta

'Hola. ¿Cómo te llamas? Me llamo Javier'

In [29]:
len(pregunta)

23

In [30]:
len(division)

TypeError: object of type 'float' has no len()

## 5. Listas

In [31]:
lista_variada = ['hola', 2 ,False, 5.9, ['perro','gato'], 6, False]

In [32]:
lista_variada

['hola', 2, False, 5.9, ['perro', 'gato'], 6, False]

In [33]:
type(lista_variada)

list

## 6. Tuplas

In [34]:
mi_lista = ['andres','Madrid',32]
print(mi_lista)

['andres', 'Madrid', 32]

In [35]:
mi_lista[0]

'andres'

In [36]:
mi_lista[0] = 'Andrés'
print(mi_lista)

['Andrés', 'Madrid', 32]

In [37]:
mi_tupla= ('federico','Cádiz',73)
print(mi_tupla)

('federico', 'Cádiz', 73)

In [38]:
mi_tupla[0]='Federico'

TypeError: 'tuple' object does not support item assignment

In [39]:
mi_lista[1], mi_lista[2]

('Madrid', 32)

In [40]:
palabra = 'murciélago'

In [41]:
# para obtener un fragmento del 1 al 4
palabra[1:5]

'urci'

In [42]:
palabra[1:]

'urciélago'

In [43]:
palabra[:-1]

'murciélag'

## 7. If else else

In [44]:
x = 16

In [45]:
if x > 20:
    print(x,' es mayor que 20')
elif x == 20:
    print (x, ' es igual a 20')
else :
    print (x, ' es menor que 20')

16  es menor que 20

In [46]:
print('x vale', x)

x vale 16

In [47]:
print('x vale %s' %x)

x vale 16

## 8. Loops

In [48]:
# While loop
a = 0
b = 6
while a < b:
    print (a, ' es menor que ',b)
    a +=1
    if a ==b:
        print(a, 'y', b,'son iguales' )

0  es menor que  6
1  es menor que  6
2  es menor que  6
3  es menor que  6
4  es menor que  6
5  es menor que  6
6 y 6 son iguales

In [49]:
# For loop
numeros =[3,8,1,9,4,7,11,5]
for num in numeros:
    if (num %2) ==0:
        print('el numero %s es par'%num)
    else:
        print('el numero %s es inpar'%num)

el numero 3 es inpar
el numero 8 es par
el numero 1 es inpar
el numero 9 es inpar
el numero 4 es par
el numero 7 es inpar
el numero 11 es inpar
el numero 5 es inpar

## 9. Libreries

In [50]:
pip install numpy
conda install numpy

SyntaxError: invalid syntax (<ipython-input-50-0b9be2cfd9df>, line 1)

In [51]:
import numpy as np

## 10. Metodos

In [57]:
frase = 'me llamo javier'

In [60]:
frase.split()

['me', 'llamo', 'javier']

In [61]:
palabra = 'zanahoria'

In [62]:
palabra.upper()

'ZANAHORIA'

In [63]:
palabra.capitalize()

'Zanahoria'

In [65]:
palabra.upper().lower().capitalize()

'Zanahoria'

## 11. Funciones

In [52]:
lista = [10, 20, 40, 50]

In [53]:
max(lista)

50

In [54]:
min(lista)

10

In [55]:
len(lista)

4

In [56]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [68]:
import numpy as np

In [69]:
np.mean(lista)

30.0

In [73]:
round(1.72)

2

In [78]:
round(1.799343,3)

1.799